.comment-box-styled {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.text-button-small {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-font-size: 11px;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.text-button-small:hover {
    -fx-text-fill: #2ecc71;
    -fx-underline: true;
}

.welcome-text-large {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50
}

.welcome-text-large: hover {
 -fx-underline: true;
}
