.comment-box-styled {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.text-button-small {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-font-size: 11px;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.text-button-small:hover {
    -fx-text-fill: #2ecc71;
    -fx-underline: true;
}

.welcome-text-large {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50
}

.welcome-text-large: hover {
 -fx-underline: true;
}

/*
#welcomeLabel {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50
}
*/

#welcomeLabel: hover {
  -fx-underline: true;
}

#adminNameLabel: hover{
 -fx-underline: true;
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

#studentName: hover {
 -fx-underline: true;
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

.nav-button {
-fx-alignment: CENTER_LEFT;
-fx-background-color: transparent;
-fx-text-fill: white;
-fx-font-size: 14px;
-fx-cursor: hand;
}

.nav-button: hover {
 -fx-underline: true;
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

.nav-button: pressed {
 -fx-underline: true;
}

.nav-button: selected {
 -fx-underline: true;
}

.rejected: {
 -fx-background-color: #cc2e33;
 -fx-padding: 20;
 -fx-background-radius: 10;
 -fx-min-width: 200;
}

.rejected: hover {
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

.active-projects: {
 -fx-background-color: #3498db;
 -fx-padding: 20;
 -fx-background-radius: 10;
 -fx-min-width: 200;
}

.active-projects: hover {
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

.pending: {
 -fx-background-color: #f1c40f;
 -fx-padding: 20;
 -fx-background-radius: 10;
 -fx-min-width: 200;
}

.pending: hover {
 -fx-translate-y: -1.00;
 -fx-translate-x: -1.00;
}

.view-button {
    -fx-background-color: #3498db;
}

.view-button:hover {
    -fx-background-color: #5dade2; /* Lighter shade on hover */
    -fx-translate-y: -1;
}

/* Delete Button - A 'Danger' Red */
.delete-button {
    -fx-background-color: #e74c3c;
}

.delete-button:hover {
    -fx-background-color: #ec7063; /* Lighter shade on hover */
    -fx-translate-y: -1;
}

/* Press effect for both */
.view-button:armed, .delete-button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.logo-container {
    -fx-background-image: url('/images/capstone_logo_1.jpg');
}